<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PageRederForRX.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PageRederForRX.Properties.Settings>
            <setting name="sqlstr" serializeAs="String">
                <value>Server=192.168.0.201;Database=fundsMange_S2;uid=sa;pwd=Hzrx2019</value>
            </setting>
            <setting name="MainFormName" serializeAs="String">
                <value>测试窗体名称</value>
            </setting>
        </PageRederForRX.Properties.Settings>
    </userSettings>
</configuration>